body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #272822;
}

a {
  color: #00B7FF;
}

h2 {
  text-align: center;
  color: whitesmoke;
}
h3 {
  text-align: center;
  color: whitesmoke;
}

button {
  background-color: darkred;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#editor {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 650px;
  width: 600px;
}

#reflection {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 650px;
  width: 600px;
}

#mainPane {
  display: flex;
}
#left {
  flex: 0 0 65%;
}
#right {
  flex: 1;
}

.header {
  text-align: center;
  color: whitesmoke;
}