<!DOCTYPE html>
<html>
<head>
    <title>Admin</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../javascripts/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="../javascripts/setupadmin.js"></script>
    <link rel='stylesheet' href='../stylesheets/style.css' />
</head>
<script>
    function getAce() {
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/java");
        editor.setReadOnly(true);

        var editor2 = ace.edit("reflection");
        editor2.setTheme("ace/theme/monokai");
        editor2.getSession().setMode("ace/mode/java");
        editor2.setReadOnly(true);
    }
</script>
<body onload="getAce()">
<h1><i>Code Rash</i><br />
<button onclick="doContinuous()">Start</button></h1>
<div id="header"class="header">Admin</div>
<div id="mainPane">
    <div id="left">
        <h3>Player1</h3>
        <div>
            <div id="editor"></div>
        </div>
    </div>
    <div id="right">
        <h3>Player2</h3>
        <div>
            <div id="reflection"></div>
        </div>
    </div>
</div>
</body>
</html>
